$header-height: 70;

/* Sticky Footer */
html, body {
  height: 100%;
}

.site-wrapper {
  min-height: 95%;
  height: auto !important;
  height: 95%;
  margin-bottom: -88px;
}

.site-wrapper:after {
  content: "";
  display: block;
}

#footer, .site-wrapper:after {
  margin-top: 88px;
}

/* Header */
#header {
  background: #4d4c46;
  height: #{$header-height}px;
}

#search {
  margin: 18px 0 0 30px;
  width: 48%;
}

#search .form-group {
  width: 65%;
}

#search .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #fff;
  margin-right: -5px;
  height: 35px;
  width: 100%;
}

#search .btn {
  background: #b4b3ae;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#header .nav, .mobile-header .nav {
  margin-top: 16px;
}

#header .nav li a, .mobile-header .nav li a {
  border-left: 1px solid #83827e;
  color: #fff;
  font-weight: bold;
  padding: 10px 33px;
}

#header .nav li a {
  max-width: 230px;
}

#header .nav li:last-of-type a {
  border-right: 1px solid #83827e;
}

html[dir="rtl"] #header .nav li a {
  border-right: 1px solid #83827e;
}

html[dir="rtl"] #header .nav li:last-of-type a {
  border-left: 1px solid #83827e;
  border-right: none;
}

#header .nav li a:hover, #header .nav li a:focus, #header .nav li:hover a, #header .nav li.open a, .mobile-header .nav li a:hover, .mobile-header .nav li a:focus, .mobile-header .nav li:hover a,
  .mobile-header .nav li.open a {
  background: #2b2924;
}

#header .nav .caret, .mobile-header .nav .caret {
  color: #88ba42;
}

#header .nav .dropdown-menu, .mobile-header .nav .dropdown-menu {
  background: #2b2924;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  color: #fff;
  min-width: 240px;
  padding: 10px 0;
  text-align: center;
  z-index: 1001;
}

html:not([dir="rtl"] ) #header .nav li#lang .dropdown-menu, html:not([dir="rtl"] ) .mobile-header .nav li#lang .dropdown-menu {
  left: auto;
}

html[dir="rtl"] #header .nav li#lang .dropdown-menu {
  right: -107px;
}

#header .nav .dropdown-menu li a, .mobile-header .nav .dropdown-menu li a {
  border: none;
  padding: 5px 30px;
  text-align: right;
}

#header .nav .dropdown-menu a:hover, .mobile-header .nav .dropdown-menu a:hover {
  background: #4d4c46;
}

html[dir="rtl"] #header .nav li:last-of-type .dropdown-menu a {
  border-left: none;
}

#header .nav .dropdown-menu .form-group, .mobile-header .nav .dropdown-menu .form-group {
  margin: 5px 20px 0 20px;
  text-align: left;
}

html[dir="rtl"] #header .nav .dropdown-menu .form-group {
  text-align: right;
}

#header .nav .dropdown-menu .form-group label, .mobile-header .nav .dropdown-menu .form-group label {
  color: #fff;
  font-weight: bold;
}

#header .nav .dropdown-menu .form-group .form-control, .mobile-header .nav .dropdown-menu .form-group .form-control {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 200px;
}

#header .nav .dropdown-menu .checkbox, .mobile-header .nav .dropdown-menu .checkbox {
  margin: 10px 20px 20px 20px;
  text-align: left;
}

html[dir="rtl"] #header .nav .dropdown-menu .checkbox {
  text-align: right;
}

#header .nav .dropdown-menu .btn, .mobile-header .nav .dropdown-menu .btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}

#header .nav .dropdown-menu .btn-green, .mobile-header .nav .dropdown-menu .btn-green {
  background: #accf7b;
  background: -moz-linear-gradient(top, #accf7b 0%, #accf7b 50%, #88ba42 51%, #88ba42 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #accf7b), color-stop(50%, #accf7b), color-stop(51%, #88ba42), color-stop(100%, #88ba42));
  background: -webkit-linear-gradient(top, #accf7b 0%, #accf7b 50%, #88ba42 51%, #88ba42 100%);
  background: -o-linear-gradient(top, #accf7b 0%, #accf7b 50%, #88ba42 51%, #88ba42 100%);
  background: -ms-linear-gradient(top, #accf7b 0%, #accf7b 50%, #88ba42 51%, #88ba42 100%);
  background: linear-gradient(to bottom, #accf7b 0%, #accf7b 50%, #88ba42 51%, #88ba42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accf7b', endColorstr='#88ba42', GradientType=0);
  color: #2b2924;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  width: 200px;
}

#header .nav .dropdown-menu .btn-green:hover, .mobile-header .nav .dropdown-menu .btn-green:hover {
  background: #88ba42;
  background: -moz-linear-gradient(top, #88ba42 0%, #88ba42 50%, #accf7b 51%, #accf7b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88ba42), color-stop(50%, #88ba42), color-stop(51%, #accf7b), color-stop(100%, #accf7b));
  background: -webkit-linear-gradient(top, #88ba42 0%, #88ba42 50%, #accf7b 51%, #accf7b 100%);
  background: -o-linear-gradient(top, #88ba42 0%, #88ba42 50%, #accf7b 51%, #accf7b 100%);
  background: -ms-linear-gradient(top, #88ba42 0%, #88ba42 50%, #accf7b 51%, #accf7b 100%);
  background: linear-gradient(to bottom, #88ba42 0%, #88ba42 50%, #accf7b 51%, #accf7b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ba42', endColorstr='#accf7b', GradientType=0);
}

#header .nav .dropdown-menu .btn-default, .mobile-header .nav .dropdown-menu .btn-default {
  background: #e8e8e8;
  color: #4d4c46;
  margin-bottom: 15px;
}

#header .nav .dropdown-menu .btn-default:hover, .mobile-header .nav .dropdown-menu .btn-default:hover {
  background: #e8e8e8;
  text-decoration: underline;
}

#header .nav .dropdown-menu .or, .mobile-header .nav .dropdown-menu .or {
  display: block;
  margin: 5px 0;
  text-align: center;
}

/* Main Navigation */
#nav-main.navbar {
  background: #2b2924;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 5px solid #fff;
  margin-bottom: 0;
  height: 46px;
  min-height: 46px;
}

.site-wrapper {
  /* could not use #{$header-height} because it changes ' to " and makes dyncss unhappy */
  -dyn-set-state-attached: '@if(@win-width>992 && @win-scrollTop>70, true, false)';
  
  &.attached #content {
    margin-top: 46px;
  }

  &.attached .genesys-navbar {
    position: fixed;
    top: 0;
    z-index: 1000000;
    width: 100%;
  }
}

.navbar#nav-main ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  text-transform: uppercase;
}

.navbar#nav-main ul li a:hover, .navbar#nav-main ul li a:focus, .navbar#nav-main ul li.active a {
  background: url('../images/arrow_mainnav.png') no-repeat bottom center;
  text-decoration: none;
}

.navbar#nav-main .badge {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px 15px;
  margin: -2px 0 -2px 5px;
  
  html[dir="rtl"] & {
    margin: -2px 5px -2px 0;
  }
}

/* Content */

/* Left column */
#content #left-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

#content h2 {
  background: #88ba42;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

#content .free-text h1, #content .free-text h2, #content .free-text h3, #content .free-text h4 {
  background-color: transparent;
  color: #4D4C46;
  padding: 0;
  text-transform: none;
}

#content .free-text h2 {
  font-size: 18px;
  margin: 1em 0 0.5em;
}

#left-col .nav {
  margin: 0 0 10px 0;
}

#left-col .nav li a {
  background: #d7d5cf;
  border-bottom: 1px solid #c9c7c1;
  border-top: 1px solid #d7d5cf;
  color: #4d4c46;
  font-size: 12px;
  padding: 3px 10px;
  text-transform: uppercase;
}

#left-col .nav li a:hover, #left-col .nav li.active a {
  background: #cfcdc7 url('../images/arrow_croplist_nav.png') no-repeat 95% 8px;
}

html[dir="rtl"] #left-col .nav li a:hover, html[dir="rtl"] #left-col .nav li.active a {
  background: #cfcdc7 url('../images/arrow_croplist_nav_rtl.png') no-repeat 5% 8px;
}

#left-col .nav li.active a {
  font-weight: bold;
}

#crop-list .dropdown, #crop-list-dropdown .dropdown, #countries-list-dropdown .dropdown {
  background: #d7d5cf;
  padding: 10px;
}

#crop-list .dropdown button, #crop-list-dropdown .dropdown button, #countries-list-dropdown .dropdown button {
  background: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #4d4c46;
  padding: 0 0 0 5px;
  position: relative;
  height: 27px;
  text-align: left;
  width: 100%;
}

#crop-list .dropdown button .caret, #crop-list-dropdown .dropdown button .caret, #countries-list-dropdown .dropdown button .caret {
  background: #b4b3ae url('../images/arrow_croplist.png') no-repeat center center;
  border: none;
  height: 25px;
  width: 23px;
  position: absolute;
  top: 0;
  right: 0;
}

#crop-list .dropdown .dropdown-menu, #crop-list-dropdown .dropdown .dropdown-menu, #countries-list-dropdown .dropdown .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  left: 10px;
  top: auto;
}

html[dir="rtl"] #countries-list-dropdown .dropdown .dropdown-menu {
  margin-left: -100px;
}

#crop-list .dropdown .dropdown-menu li a, #crop-list-dropdown .dropdown .dropdown-menu li a, #countries-list-dropdown .dropdown .dropdown-menu li a {
  font-size: 12px;
}

#crop-list .nav, #crop-list-dropdown .nav {
  margin-top: 1px;
}

#crop-list .nav li a, #crop-list-dropdown .nav li a {
  border: none;
  font-size: 12px;
  text-transform: none;
}

#left-col .nav li ul {
  background: #dedcd7;
  margin: 0;
  padding: 0;
}

#left-col .nav li ul li {
  list-style: none;
}

#left-col .nav li ul li a {
  background: #dedcd7;
  display: block;
  padding: 3px 5px 3px 10px;
}

/* Middle Column */
#content #middle-col {
  padding-bottom: 10px;
  padding-top: 10px;
}

#middle-col .nav-tabs {
  border-top: 1px solid #4d4c46;
  border-bottom: none;
  padding-left: 15px;
}

html:not([dir="rtl"] ) #middle-col .nav {
  padding-left: 15px;
}

html[dir="rtl"] #middle-col .nav.nav-tabs {
  padding-right: 15px;
}

#middle-col .nav-tabs li a {
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  color: #4d4c46;
  margin: 0;
  outline: none;
}

html:not([dir="rtl"] ) .nav-tabs>li>a {
  margin: 0;
}

html[dir="rtl"] .nav-tabs>li>a {
  margin-left: 0;
}

#middle-col .nav-tabs li a:hover, #middle-col .nav-tabs li a:focus {
  border: none;
  margin: 0;
}

#middle-col .nav-tabs li.active {
  background: #b4b3af;
  border-bottom: 1px solid #4d4c46;
}

#middle-col .nav-tabs li.active a {
  background: url('../images/arrow_tabmenu.png') no-repeat bottom center;
  margin-bottom: -1px;
}

#middle-col .tab-content {
  background: #fff;
}

.tab-pane {
  padding: 0 15px 20px 15px;
}

.tab-pane h1 {
  font-family: 'forzabook';
  font-size: 24px;
}

.tab-pane .all-posts {
  border-left: 2px solid #c3c3c3;
  margin-left: 23px;
}

html[dir="rtl"] .tab-pane .all-posts {
  border-left: none;
  border-right: 2px solid #c3c3c3;
  margin-left: 0;
  margin-right: 23px;
}

.tab-pane .all-posts .post {
  padding-bottom: 30px;
  position: relative;
}

.tab-pane .all-posts .post .post-icon {
  height: 47px;
  width: 47px;
  position: absolute;
  top: 0;
  left: -24px;
}

html[dir="rtl"] .tab-pane .all-posts .post .post-icon {
  left: auto;
  right: -24px;
}

.tab-pane .all-posts .post.type-article .post-icon, .tab-pane .all-posts .post.type-list .post-icon {
  background: url('../images/icon_posts_article.png') no-repeat;
}

.tab-pane .all-posts .post.type-crop .post-icon {
  background: url('../images/icon_posts_crop.png') no-repeat;
}

.tab-pane .all-posts .post.type-user .post-icon {
  background: url('../images/icon_posts_user.png') no-repeat;
}

.tab-pane .all-posts .post.type-comment .post-icon {
  background: url('../images/icon_posts_comment.png') no-repeat;
}

.tab-pane .all-posts .post .post-head {
  display: table;
  padding: 5px 0 0 30px;
}

html[dir="rtl"] .tab-pane .all-posts .post .post-head {
  padding: 5px 30px 0 0;
}

.tab-pane .all-posts .post .post-head .user-icon {
  display: table-cell;
  width: 37px;
  vertical-align: middle;
  overflow: hidden;
}

.tab-pane .all-posts .post .post-head .user-icon img {
  border: 1px solid #4d4c46;
  display: block;
  width: 100%;
}

.tab-pane .all-posts .post .post-head .post-head-content {
  display: table-cell;
  padding: 0 0 0 5px;
  vertical-align: middle;
}

html[dir="rtl"] .all-posts .post .post-head .post-head-content {
  padding: 0 5px 0 0;
}

.post-head-content>p {
  margin: 0;
}

.tab-pane .all-posts .post-inner {
  background: #e7e5df;
  border: 1px solid #d2d0cb;
  margin: 10px 0 0 72px;
}

html[dir="rtl"] .tab-pane .all-posts .post-inner {
  margin: 10px 72px 0 0;
}

.tab-pane .all-posts .post-inner .post-image {
  float: left;
  margin-right: 3.22%;
  width: 28.09%;
}

html[dir="rtl"] .tab-pane .all-posts .post-inner .post-image {
  float: right;
  margin-right: auto;
  margin-left: 10px;
}

.tab-pane .all-posts .post-inner .post-image img {
  display: block;
  width: 100%;
}

.tab-pane .all-posts .type-crop .post-inner .post-image {
  background: url('../images/pic_map_news.png') no-repeat center center;
  border-right: 1px solid #d2d0cb;
  position: relative;
  min-height: 100px;
  width: 18.73%;
}

html[dir="rtl"] .tab-pane .all-posts .type-crop .post-inner .post-image {
  border-right: none;
  border-left: 1px solid #d2d0cb;
}

.tab-pane .all-posts .type-crop .post-inner .post-image img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: auto;
}

html[dir="rtl"] .tab-pane .all-posts .type-crop .post-inner .post-image img {
  right: auto;
  left: 15px;
}

.tab-pane .all-posts .post-inner .post-content {
  float: left;
  padding: 10px;
}

.tab-pane .all-posts .type-crop .post-inner .post-content {
  
}

.tab-pane .all-posts .type-list .post-inner .post-content {
  background: url('../images/pic_map_news_full.png') no-repeat 95% center;
  width: 100%;
}

.tab-pane .all-posts .type-list .post-inner .post-content ol {
  margin: 10px 0 10px 10px;
  padding: 0;
}

html[dir="rtl"] .tab-pane .all-posts .type-list .post-inner .post-content ol {
  margin: 10px 10px 10px 0;
}

.tab-pane .all-posts .type-list .post-inner .post-content ol li {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
  list-style-position: inside;
  margin: 0 0 2px 0;
  padding: 5px 0 5px 10px;
}

html[dir="rtl"] .tab-pane .all-posts .type-list .post-inner .post-content ol li {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff', GradientType=1);
  padding: 5px 10px 5px 0;
}

.tab-pane .all-posts .post-inner .post-content h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.tab-pane .all-posts .post-inner .post-content p {
  font-size: 12px;
  margin: 0 10px 10px 0;
}

.tab-pane .all-posts .post-actions {
  font-size: 12px;
  margin: 10px 0 0 72px;
}

html[dir="rtl"] .tab-pane .all-posts .post-actions {
  margin: 10px 72px 0 0;
}

.tab-pane .all-posts .post-actions .comments-num {
  background: url('../images/icon_comments.png') no-repeat center left;
  display: inline-block;
  padding-left: 15px;
}

.tab-pane .all-posts .older-posts-link {
  background: #c3c3c3;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
}

/* Middle Column - Analytics */
#middle-col .background {
  background-color: #fff;
}

#middle-col h1 {
  border-bottom: 1px solid #4d4c46;
  font-size: 24px;
  padding: 20px 0 10px 0;
  background-color: #FFF;
  margin-top: 0;
}

#middle-col h1 img {
  padding: 0 10px 0 0;
  vertical-align: -5px;
}

html[dir="rtl"] #middle-col h1 img {
  padding: 0 0 0 10px;
}

#country-in-genesys table {
  margin-bottom: 20px;
}

#country-in-genesys table td {
  padding: 5px 10px;
  text-align: right;
}

html[dir="rtl"] #country-in-genesys table td {
  text-align: left;
}

#country-in-genesys table thead td, #country-in-genesys table thead tr:nth-of-type(odd) td {
  background: none;
  border-bottom: 1px solid #c9c9c7;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

html[dir="rtl"] #country-in-genesys table thead td, html[dir="rtl"] #country-in-genesys table thead tr:nth-of-type(odd) td {
  text-align: left;
}

#country-in-genesys table h4, #crop-activity h4 {
  color: #4d4c46;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: left;
}

html[dir="rtl"] #country-in-genesys table h4, html[dir="rtl"] #crop-activity h4 {
  text-align: right;
}

#country-in-genesys table .alignleft {
  text-align: left;
}

html[dir="rtl"] #country-in-genesys table .alignleft {
  text-align: right
}

#country-in-genesys table .accessions {
  height: 15px;
  width: 150px;
}

#country-in-genesys table .accessions div {
  background: #88ba42;
  height: 100%;
}

.country-header {
  background: #f0efeb;
  border: 1px solid #4d4c46;
  margin-top: 25px;
  padding: 10px;
}

#content .country-header h2 {
  background: none;
  color: #4d4c46;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  text-transform: none;
  width: 40%;
}

#content .country-header h2 img {
  display: block;
  margin: 0 0 10px 0;
}

.country-data {
  border: 1px solid #4d4c46;
  border-top: none;
  padding: 10px 0;
}

#middle-col .country-data table tr td, #middle-col .country-data table tr:nth-of-type(even) td, #middle-col .country-data table tr:nth-of-type(odd) td {
  background: #f0efeb;
  font-size: 12px;
  padding: 3px 10px;
}

#middle-col .country-data table td:last-of-type {
  color: #5476b2;
  text-align: right;
}

.country-description {
  border: 1px solid #4d4c46;
  border-top: none;
  font-size: 12px;
  padding: 10px;
}

#crop-activity {
  padding: 10px;
}

#crop-activity .activity-header {
  margin-bottom: 20px;
}

#crop-activity select {
  background: #e7e5df;
  border: 1px solid #4d4c46;
  font-size: 12px;
  min-width: 100px;
  padding: 3px 5px;
}

/* Right Column */
#content #right-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

#right-col .content-block {
  margin-bottom: 1em;
}

#right-col>.content-block>.blurp {
  background-color: White;
  padding: 10px;
}

#right-col #my-profile {
  background: #fff;
  font-size: 12px;
  margin: 0 0 10px 0;
}

#my-profile .profile-status {
  padding: 10px;
}

#my-profile .profile-status .status-bar {
  background: #e7e5df;
  border: 1px solid #4d4c46;
  margin: 5px 0 0 0;
  height: 17px;
}

#my-profile .profile-status .status-bar .status-progress {
  background: #88ba42;
  height: 100%;
}

#my-profile .profile-status .profile-rank {
  margin: 10px 0;
}

#my-profile .profile-status .profile-rank .star {
  background: url('../images/icon_stars.png') no-repeat top left;
  display: inline-block;
  height: 26px;
  width: 26px;
}

#my-profile .profile-status .profile-rank .star.full {
  background-position: top right;
}

#my-profile .profile-status .profile-rank .member-status {
  font-weight: bold;
  margin-top: 5px;
}

#right-col .btn-default {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 25%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(25%, #e8e8e8));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 25%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 25%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 25%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #e8e8e8 25%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8', GradientType=0);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #91918d;
  font-size: 12px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

#my-profile .profile-data {
  border-top: 1px solid #4d4c46;
  padding: 5px 0 10px 0;
  margin: 0 10px;
}

#my-profile .profile-data li {
  background: #f7f7f5;
  list-style-type: none;
  margin-top: 3px;
  padding: 3px 5px;
}

#my-profile .profile-data li .row-title {
  color: #5476b2;
  display: inline-block;
  width: 80px;
}

#stats {
  background: #fff;
}

#stats .stats-map {
  background: url('../images/pic_map_stats.png') no-repeat center center;
  height: 135px;
  position: relative;
}

#stats .stats-map .all-stats {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

html[dir="rtl"] #stats .stats-map .all-stats {
  right: 10px;
}

#stats .stats-map .one-stat {
  background: rgba(105, 163, 23, 0.7);
  color: #fff;
  display: block;
  float: left;
  clear: left;
  font-family: 'forzamedium';
  font-size: 14px;
  margin: 0 0 3px 0;
  padding: 1px 5px;
  
  html[dir="rtl"] & {
    float: right;
    clear: right;
  }
}

#stats .one-stat a {
  color: White;
}

html[dir="rtl"] #stats .stats-map .one-stat {
  
}

#stats .stat-lists {
  background: #fff;
  border-top: 1px solid #4d4c46;
  margin: 0 10px;
  padding: 10px 0;
}

#stats .stat-lists h3 {
  color: #88ba42;
  font-family: 'forzabook';
  font-size: 18px;
}

#stats .stat-lists h3 a {
  display: block;
  float: right;
}

html[dir="rtl"] #stats .stat-lists h3 a {
  float: left;
}

#stats .stat-lists ol {
  margin: 0;
  padding: 0 0 0 20px;
}

html[dir="rtl"] #stats .stat-lists ol {
  padding: 0 20px 0 0;
}

#stats .stat-lists ol li {
  color: #5476b2;
  font-size: 12px;
  padding: 5px 0;
}

#stats .stat-lists ol li img {
  padding-right: 5px;
}

html[dir="rtl"] #stats .stat-lists ol li img {
  padding-right: 0;
  padding-left: 5px;
}

/* Main column - General styles */
.main-col {
  background-color: #fff;
  margin: 10px 0 20px;
  padding: 10px;
  position: relative;
}

.main-col>*:FIRST-CHILD {
  margin-top: 0;
  padding-top: 0;
}

.main-col>h1:FIRST-CHILD {
  background: none repeat scroll 0 0 #88ba42;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: -10px -10px 10px;
  padding: 10px;
}

.main-col>h1:FIRST-CHILD small {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.crop-name {
  font-size: 24px;
  padding: 20px 10px;
}

.crop-name .download-link {
  background: url('../images/icon_download.png') no-repeat center left;
  font-size: 14px;
  padding: 5px 0 5px 40px;
}

.main-col .acn .sel a {
  padding: 7px 0 7px 7px;
  text-transform: uppercase;
    
  &.add:before {
    background-position: -4px -4px;
  }
  &.remove:before {
    background-position: -36px -4px;
  }
  
  html[dir="rtl"] & {
    padding: 7px 7px 7px 0;
  }
    
  &:before {
    content: "";
    float: left;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: url('../images/icon_row_select.png') no-repeat;
    
    html[dir="rtl"] & {
      float: right;
    }
  }
}

.main-col .acn a.download {
  background: url('../images/icon_download.png') no-repeat center left;
  padding: 7px 0 7px 35px;
}

.main-col .acn a.print {
  background: url('../images/icon_print.png') no-repeat center left;
  margin-left: 30px;
  padding: 7px 0 7px 35px;
}

.main-col .acn .sel a.remove {
  display: none;
}

.main-col .acn .sel.picked a.remove {
  display: inline;
}

.main-col .acn .sel.picked a.add {
  display: none;
}

.main-col .alert {
  font-size: 16px;
  margin: 10px 0 20px 0;
}

/* Main column - Header */
.main-col-header {
  background: #d4d1c6;
  margin: -10px -10px 10px;
  padding: 10px 10px;
}

.main-col-header.acn {
  padding: 20px 10px;
}

.main-col-header .nav-header .results {
  color: #6f6e69;
}

.main-col .pagination, .paginate {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.main-col .pagination.on-bottom {
  border-top: 1px solid #cac9c7;
  display: block;
  margin: 10px 10px 0 10px;
  padding: 10px 0;
}

.main-col .pagination a, .main-col .paginate a {
  padding: 0 0px;
  text-transform: uppercase;
}

.main-col-header .filterinfo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  text-transform: uppercase;
}

.applied-filters {
  border-top: 1px solid #c9c9c7;
  border-bottom: 1px solid #c9c9c7;
  color: #6f6e69;
  padding: 5px 0;
  margin: 10px 0;
}

#allfilters.applied-filters.disabled {
  padding: 2px 0;
}

.filtval {
  background: #e6e0c6 url('../images/icon_remove_from_list.png') no-repeat top right;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px 5px 10px;
  margin: 2px 5px;
}

#allfilters.disabled .filter-block {
  padding: 2px 5px;
  margin: 2px 0;  
}

#allfilters.disabled .filter-block .filtval {
  background-image: none;
  padding: 2px 5px;
}

#allfilters .edit-fil {
  padding: 7px 0px;
}

#allfilters.disabled .edit-fil {
  cursor: default;
  padding: 4px 5px;
}

.filtval:hover {
  background-color: #ccc7af;
  text-decoration: none;
}

/* Main column - Tables / Lists */
.main-col table, #middle-col table {
  width: 100%;
  border-spacing: 0 5px;
  border-collapse: separate;
}

.main-col table.accessions {
  font-size: 12px;
}

.main-col table.wide-table tr td {
  white-space: nowrap;
}

.pos-relative {
  position: relative;
}

.main-col .table-responsive {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.main-col table.accessions thead td, #middle-col table.accessions thead td {
  color: #000;
  font-size: 16px;
}

.main-col table.accessions td {
  padding: 10px;
  font-size: 13px;
}

.main-col table.accessions td a b {
  font-size: 14px;
  font-weight: normal;
}

.targeted:target, .main-col ul.funny-list>li.targeted:target {
  background-color: #dfd0c0;
}

ul.funny-list {
  margin: 0;
  padding: 0;
}

.main-col ul.funny-list li {
  list-style-type: none;
  margin: 3px 0;
  padding: 10px;
}

.main-col table.accessions .idx-col {
  font-size: 14px;
  width: 20px;
}

.main-col span.idx-col {
  display: inline-block;
}

.main-col table.accessions tr.odd td, .main-col table tr:nth-of-type(odd) td, #middle-col table tr:nth-of-type(odd) td, .main-col ul.funny-list>li.odd {
  background-color: #f8f7f5;
}

.main-col table.accessions tr.even td, .main-col table tr:nth-of-type(even) td, #middle-col table tr:nth-of-type(even) td, .main-col ul.funny-list>li.even {
  background-color: #f3f2ee;
}

ul.funny-list>li.not-current * {
  text-decoration: line-through;
  opacity: 0.5;
}

.main-col table tr.acn .sel {
  background-image: url('../images/icon_row_select.png');
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
  width: 32px;
  min-width: 32px;
}

.main-col table tr.acn .sel.picked {
  background-position: center right;
}

table.accessions tr.not-available>td, table tr.expired>td {
  text-decoration: line-through;
  opacity: 0.5;
}

.crop-details {
  font-size: 14px;

  > div.row {
    background-color: #f8f7f5;
    margin: 5px 0 5px 0;
  
    >div {
      padding: 10px;
    }
  }
  
  h4 {
    color: #2b2924;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 5px;
  }
  
  .header {
    font-weight: bold;
  }
  
  h2, >div:nth-of-type(even) {
    background-color: #f3f2ee;
  }
}

table.crop-details h4 {
  color: #2b2924;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 5px 0;
}

/* Main column - Filters */
.nav .filter-toggler a {
  background-color: #eeeeee;
}

#allfilters .filter-block {
  background: #f8f7f5;
  margin: 5px 0;
  padding: 6px 10px;
}

#allfilters .filter-block .filter-new, #allfilters .filter-block .filter-apply-btn {
  display: none;
}

#allfilters .filter-block.edit-filter .filter-new, #allfilters .filter-block.edit-filter .filter-apply-btn {
  display: inherit;
}

#allfilters .edit-fil {
  cursor: pointer;
  font-weight: bold;
}

.filter-block input[type=checkbox] {
  margin-right: 1em;
  
  html[dir="rtl"] & {
    margin-right: 0;
    margin-left: 1em;
  }  
}

#allfilters .filter-block:nth-of-type(even) {
  background: #edece7;
}

#allfilters .filter-block .filter-name {
  color: #6f6e69;
  margin: 3px 10px 0 0;
  text-align: right;
  width: 160px;
}

html[dir="rtl"] #allfilters .filter-block .filter-name {
  margin: 3px 0 0 10px;
  text-align: left;
}

#allfilters .filter-block .filter-new.dropdown .btn {
  background: #e7e5de;
  border: 1px solid #4d4d46;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 13px;
  font-weight: bold;
  min-width: 400px;
  padding: 4px 10px;
  position: relative;
  text-align: left;
}

#allfilters .filter-block .filter-new.dropdown.open .btn {
  background: #bebaa9;
}

#allfilters .filter-block .filter-new.dropdown.open .btn {
  color: #fff;
}

#allfilters .filter-block .filter-new.dropdown .caret {
  border-color: #9a9892 rgba(255, 255, 255, 0) -moz-use-text-color;
  position: absolute;
  top: 11px;
  right: 10px;
}

#allfilters .filter-block .filter-new.dropdown.open .caret {
  border-color: #fff rgba(255, 255, 255, 0) -moz-use-text-color;
}

#allfilters .filter-block .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #4d4c46;
  height: 250px;
  overflow-y: scroll;
}

#filter-institute .dropdown-menu, #filter-organization .dropdown-menu {
  width: 650px;
}

#allfilters .filter-block .dropdown-menu li {
  font-size: 13px;
  padding: 0 5px;
}

#allfilters .filter-block .dropdown-menu li:hover {
  background: #f0ecdd;
}

#allfilters .filter-block .dropdown-menu label {
  font-weight: normal;
}

#allfilters .filter-block .dropdown-menu span {
  color: #848484;
  display: inline-block;
  font-size: 11px;
  float: right;
  padding: 5px 20px 0 0;
}

#allfilters .filter-block .form-group {
  margin: 0;
}

#allfilters .form-control {
  background: #e7e5de;
}

#allfilters .select-like {
  width: 102px;
  padding: 6px;
}

#allfilters #filter-lat .form-control:first-of-type, #allfilters #filter-lon .form-control:first-of-type, #allfilters #filter-elevation .form-control:first-of-type {
  margin: 0 0 10px 0;
}

#allfilters .input-group {
  /* width: 180px; */
  
  input[type="text"].form-control {
    width: 40%;
  }
}

#allfilters .input-group-btn .btn {
  background: #b4b3ae;
  border: 1px solid #ccc;
  border-left: none;
  font-size: 17px;
  font-weight: bold;
  height: 34px;
  line-height: 5px;
  padding: 0 8px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 
  html[dir="rtl"] & {
    border-right: none;
    border-left: 1px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}


#allfilters .input-group-btn .btn:hover {
  color: #fff;
}

#allfilters .btn.btn-green {
  background: #e4efd3;
  background: -moz-linear-gradient(top, #e4efd3 0%, #88ba42 20%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4efd3), color-stop(20%, #88ba42));
  background: -webkit-linear-gradient(top, #e4efd3 0%, #88ba42 20%);
  background: -o-linear-gradient(top, #e4efd3 0%, #88ba42 20%);
  background: -ms-linear-gradient(top, #e4efd3 0%, #88ba42 20%);
  background: linear-gradient(to bottom, #e4efd3 0%, #88ba42 20%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efd3', endColorstr='#88ba42', GradientType=0);
  border: 1px solid #91918d;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  margin: 5px 0 10px;
  padding: 10px 55px;
}

#allfilters .filter-links {
  font-size: 12px;
  font-weight: bold;
  margin: 22px 0 0 30px;
}

#allfilters .filter-links a {
  padding: 0 10px;
}

/* Main column - Accession Browser with Filters */
.main-col-header #allfilters {
  border-top: 1px solid #4d4c46;
  margin: 10px 0 0 0;
  padding: 0;
}

.main-col-header #allfilters h3 {
  font-size: 24px;
  margin: 0;
  padding: 20px 0;
}

.main-col-header #allfilters .filterinfo {
  margin-top: 15px;
}

/* Right column - Crop details */
.pseudo-right-col {
  background: #fff;
  position: absolute;
  right: 0;
}

html[dir="rtl"] .pseudo-right-col {
  right: auto;
  left: 0;
}

.pseudo-right-col .carousel {
  border: 1px solid #4d4c46;
  margin: 5px 10px 10px 10px;
  position: relative;
}

.pseudo-right-col .carousel .zoom-icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

html[dir="rtl"] .pseudo-right-col .carousel .zoom-icon {
  right: auto;
  left: 10px;
}

.pseudo-right-col .carousel .item {
  margin: 0 auto;
  width: 220px;
}

.pseudo-right-col .carousel .controls {
  border: 1px solid #4d4c46;
  background: #4d4c46;
  position: absolute;
  height: 35px;
  bottom: -36px;
  left: -1px;
  right: -1px;
}

.pseudo-right-col .controls a {
  background: url('../images/arrows_carousel.png') no-repeat top left;
  height: 35px;
  width: 35px;
}

.pseudo-right-col .controls .left {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.pseudo-right-col .controls .right {
  background-position: top right;
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

.pseudo-right-col .carousel .carousel-indicators {
  position: absolute;
  bottom: -3px;
}

html[dir="rtl"] .pseudo-right-col .carousel .carousel-indicators {
  right: 10%;
}

.pseudo-right-col .carousel .carousel-indicators li {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  color: #fff;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: auto;
  width: auto;
  text-indent: 0;
}

.pseudo-right-col .carousel .carousel-indicators .active, .pseudo-right-col .carousel .carousel-indicators .num-all-images {
  background: none;
  display: inline-block;
}

.pseudo-right-col .source-link {
  display: block;
  font-size: 12px;
  margin: 45px 0 0 0;
  text-align: center;
}

.pseudo-right-col .crop-location {
  margin: 10px;
}

.pseudo-right-col .crop-location h3 {
  background: #4d4c46 url('../images/icon_zoom_white.png') no-repeat 95% center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 8px 10px;
}

html[dir="rtl"] .pseudo-right-col .crop-location h3 {
  background-position: 5% center;
}

.pseudo-right-col .crop-location h3 a {
  color: #fff;
  display: block;
}

.crop-location .map-container {
  border: 1px solid #4d4c46;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.crop-location .map-data {
  background: #f3f2ee;
  border: 1px solid #4d4c46;
  border-top: none;
}

.crop-location .map-data td, .crop-location .map-data td:nth-of-type(odd), .crop-location .map-data td:nth-of-type(even) {
  background: #f8f7f5;
  font-size: 12px;
  padding: 5px 10px;
}

.crop-location .map-data td:last-of-type {
  color: #5476b2;
  text-align: right;
}

html[dir="rtl"] .crop-location .map-data td:last-of-type {
  text-align: left;
}

#popup-gallery .modal-dialog, #popup-map .modal-dialog {
  width: 1160px;
  overflow: hidden;
  padding-top: 120px;
}

#popup-gallery .modal-dialog .modal-content, #popup-map .modal-dialog .modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#popup-gallery .modal-dialog .modal-content .modal-header {
  border: none;
  min-height: 53px;
  padding: 0;
}

#popup-map .modal-dialog .modal-content .modal-header {
  border: none;
  min-height: auto;
  padding: 0;
}

#popup-gallery .modal-dialog .modal-content .modal-header .close, #popup-map .modal-dialog .modal-content .modal-header .close {
  padding: 15px;
}

#popup-map .modal-dialog .modal-content .modal-header h1 {
  background: #88ba42;
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 15px;
}

#popup-gallery .modal-dialog .modal-content .modal-body, #popup-map .modal-dialog .modal-content .modal-body {
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#popup-map .modal-dialog .modal-content .modal-body {
  height: 500px;
}

#popup-gallery .modal-dialog .modal-content .modal-body img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

#popup-map .modal-dialog .modal-content .modal-footer {
  background: #4d4c46;
  border: none;
  color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 10px;
}

/* Footer */
#footer {
  background: #4d4c46;
}

#footer .nav {
  padding: 10px 0;
}

#footer .nav li {
  display: inline-block;
}

#footer .nav li a {
  color: #e7e5df;
  font-size: 12px;
  padding: 0;
}

#footer .nav li a:before {
  color: #e7e5df;
  content: "|";
  padding: 0 5px;
}

#footer .nav li:first-of-type a:before {
  content: none;
  padding: 0;
}

#footer .nav li a:hover {
  background: none;
}

#footer #copyright {
  padding: 0 0 10px 0;
}

#footer #copyright p {
  color: #74726c;
  font-size: 12px;
  padding: 11px 0 0 10px;
}

html[dir="rtl"] #footer #copyright p {
  padding: 11px 10px 0 0;
}

/*** Sandbox Styles ***/
html:not([dir="rtl"] ) img.country-flag {
  float: right;
}

html[dir="rtl"] img.country-flag {
  float: left;
}

img.country-flag.bigger {
  height: 50px;
}

ul li.hoofdleter {
  font-size: 150%;
  font-weight: bold;
  list-style-type: none;
  margin: 1em 0 0.5em;
  padding: 0;
}

html:not([dir="rtl"] ) li.hoofdleter small {
  font-size: 10px;
  margin-left: 3em;
}

html[dir="rtl"] li.hoofdleter small {
  font-size: 10px;
  margin-right: 3em;
}

.letter-pointer {
  padding: 0 0.7em;
  font-weight: bold;
}

html:not([dir="rtl"] ) .uom {
  margin-left: 1em;
}

html[dir="rtl"] .uom {
  margin-right: 1em;
}

ul.statistics .stats-number {
  display: inline-block;
  width: 4em;
}

html:not([dir="rtl"] ) ul.statistics .stats-number {
  text-align: right;
  margin-left: 2em;
  float: right;
}

html[dir="rtl"] ul.statistics .stats-number {
  text-align: left;
  margin-right: 2em;
  float: left;
}

.translationmissing {
  padding: 0.3em;
}

.gis-map {
  width: 100%;
  height: 300px;
  margin-top: 1em;
}

.gis-map-square {
  height: 600px;
}

.audit-info {
  margin-top: 2em;
  margin-left: 0;
  font-size: 80%;
}

#header .nav .dropdown-menu .google-signin, #header .nav .dropdown-menu .google-signin:hover, #header .nav .dropdown-menu .google-signin:active, .google-signin, .google-signin:active {
  background-image: url('../images/google-signin.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 30px;
}

.welcome-blurp {
  padding: 20px;
  font-size: 110%;
  background-color: #FFF;
  margin-bottom: 1em;
}

.ui-autocomplete.ui-widget {
  font-size: 12px;
}

#crop-list li.all-crops {
  font-weight: bold;
  margin-bottom: 1px;
}

#globalmap.gis-map {
  max-width: 250px;
  height: 180px;
  margin-top: 0;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-autocomplete.ui-widget {
  z-index: 100;
}

.close.filter {
  font-size: 15px;
}

.modal-dialog {
  width: 800;
}

/* Nav-pills messages */
.nav.nav-pills li.message {
  display: block;
  padding: 10px 15px;
  position: relative;
  overflow-x: hidden;
  float: right;
  
  html[dir="rtl"] & {
    float: left;
  }
}

.filter-select {
  background: none repeat scroll 0% 0% #B4B3AE;
  border-width: 1px 1px 1px medium;
  border-style: solid solid solid none;
  border-color: #4D4D46 #4D4D46 #4D4D46 -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  font-size: 17px;
  font-weight: bold;
  height: 27px;
  line-height: 5px;
  padding: 0px 8px;
}

.chart.chart-pie {
  padding: 10px;
}

.terms-percent {
  min-width: 60px;
  display: inline-block;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.row-section {
  margin-bottom: 2em;
}

table.terms-table td {
  padding: 4px 10px;
}

.jumbotron {
  font-size: 21px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.5;
  font-weight: 200;
}

.mobile-header {
  display: none;
}

.mobile-header .header-top {
  background: #2b2924;
}

.mobile-header .header-top .navbar-nav {
  float: right;
  margin: 5px 0 0 0;
}

.mobile-header .header-top .mobile-menu-show, .mobile-header .header-top .mobile-menu-hide {
  display: inline-block;
  padding: 10px;
}

.mobile-header .logo-container {
  background: #4d4c46;
  padding: 5px 0 10px 0;
}

@media ( max-width : 1200px) {
  #popup-gallery .modal-dialog, #popup-map .modal-dialog {
    width: 970px;
  }
  #search {
    width: 35%;
  }
}

@media ( max-width : 1024px) {
  #popup-gallery .modal-dialog, #popup-map .modal-dialog {
    width: 100%;
  }
  #popup-gallery .modal-dialog .modal-content .modal-body, #popup-map .modal-dialog .modal-content .modal-body {
    height: 400px;
  }
  #popup-map .modal-dialog .modal-content .modal-body {
    height: 400px;
  }
  #popup-gallery .modal-dialog .modal-content .modal-body img {
    height: auto;
    width: 100%;
  }
}

@media ( max-width : 992px) {
  #header {
    display: none;
  }
  #nav-main, #left-col, .mobile-header .header-top .mobile-menu-hide, #search {
    display: none;
  }
  #right-col {
    display: none;
  }
  .mobile-header .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-header {
    display: block;
  }
  #nav-main.navbar {
    min-height: inherit;
    height: inherit;
    background: #4d4c46;
  }
  #search {
    background: #4d4c46;
    border-bottom: 1px solid #2b2924;
    margin: 0;
    padding: 15px 0 0 0;
    width: 100%;
  }
  #search .form-group {
    display: inline-block;
    width: 65%;
  }
  #search .form-group .form-control {
    display: inline-block;
  }
  #content #left-col #crop-list {
    display: none;
  }
  .main-col .table-responsive {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }
  .main-col .pagination {
    font-size: 16px;
  }
  .main-col {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    width: 100%;
  }
  .pseudo-right-col {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    position: static;
  }
  #popup-gallery .modal-dialog, #popup-map .modal-dialog {
    width: 100%;
  }
  #popup-gallery .modal-dialog .modal-content .modal-body, #popup-map .modal-dialog .modal-content .modal-body {
    height: 400px;
  }
  #popup-map .modal-dialog .modal-content .modal-body {
    height: 400px;
  }
  table.crop-details {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
  }
  #footer #nav-foot .nav.pull-right, html:not([dir="rtl"] ) #nav-foot .pull-right, #footer #nav-foot .nav.pull-left, html:not([dir="rtl"] ) #nav-foot .pull-left {
    float: none !important;
  }
  #footer #copyright p {
    color: #e7e5df;
  }
  .site-wrapper {
    margin-bottom: 0;
  }
  .site-wrapper:after {
    content: "";
    display: block;
  }
  #footer, .site-wrapper:after {
    height: auto;
  }
}

@media ( max-width : 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  #nav-main.navbar {
    border-bottom: none;
    margin: 0;
    min-height: inherit;
    height: inherit;
  }
  .navbar-nav {
    margin: 0;
  }
  html[dir="rtl"] .mobile-header .header-top .navbar-nav {
    float: left;
  }
  .navbar-nav>li {
    display: inline-block;
  }
  #nav-main.navbar ul li {
    display: block;
  }
  #nav-main.navbar ul li a {
    border-bottom: 1px solid #2b2924;
    padding: 10px;
  }
  #nav-main.navbar ul li a:hover, #nav-main.navbar ul li a:focus, #nav-main.navbar ul li.active a {
    background: none;
  }
  #header .nav li a, .mobile-header .nav li a {
    padding: 10px 20px;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
  }
  html[dir="rtl"] .navbar-nav .open .dropdown-menu {
    right: auto;
    left: 0;
  }
  html:not([dir="rtl"] ) .mobile-header .nav li#lang .dropdown-menu {
    right: 0;
  }
  #search .form-group {
    display: inline-block;
    width: 77%;
  }
  #content #left-col {
    margin: 0;
    padding: 0;
  }
  #content #left-col h2 {
    padding: 10px;
  }
  #left-col .nav {
    margin: 0;
  }
  #left-col .nav li a:hover, #left-col .nav li.active a, #left-col .nav li a {
    background: #62615c;
    border-bottom: 1px solid #2b2924;
    color: #fff;
    border-top: none;
    font-size: 14px;
    padding: 10px;
  }
  #crop-list-dropdown .dropdown, #countries-list-dropdown .dropdown {
    background: #62615c;
  }
  .tab-pane .all-posts .post-inner {
    border-left: none;
    border-right: none;
    margin: 10px -15px 0 -40px;
  }
  .tab-pane .all-posts .post .post-head .post-head-content {
    font-size: 12px;
  }
  #allfilters .filter-block .filter-new.dropdown .btn {
    min-width: 330px;
  }
  #footer #nav-foot .nav {
    margin: 0 10px;
  }
  #footer #nav-foot .nav li {
    display: block;
    padding: 0 0 5px 0;
  }
  #footer .nav li a:before {
    content: none;
  }
  #footer #copyright {
    margin: 0 10px;
  }
}

.sci-name {
  font-style: italic;
  direction: ltr;
}
